$accent-color: #FFB301;
$light-color: #E8F3F1;
$dark-color: #2C3639;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100vw;
    height: 100vh;
    position: absolute;

    .text {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        margin-right: 25rem;

        h3 {
            font-size: 10rem;
            color: $accent-color;
        }

        p {
            font-size: 5rem;
            letter-spacing: 1px;
            color: $light-color;
        }
    }
}

nav {
    position: sticky;
    top: 0;
    padding: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    h4 {
        font-size: 24px;
        color: $accent-color;
        letter-spacing: 1px;
        cursor: pointer;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;

        li {
            margin: 0 1rem;
            font-size: 18px;
            letter-spacing: 1px;
            color: $light-color;
            cursor: pointer;
            transition: color .5s ease;
        }

        li:hover {
            color: $accent-color;
        }
    }
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    h4 {
        font-size: 4rem;
        color: $accent-color;
    }

    .skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;

        .skills__icons {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            height: 100%;

            .icon {
                font-size: 4rem;
                cursor: pointer;
                transition: color .3s ease;
            }

            .icon:hover {
                color: $accent-color;
            }
        }
    }
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h4 {
        font-size: 4rem;
        letter-spacing: 1px;
        color: $accent-color;
    }

    .projects__section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 80%;
        width: 100%;

        .project {
            width: 50%;
            height: 200px;
            background-color: $dark-color;
            border: solid 0px #14FFEC;

            h5 {
                color: $light-color;
            }
        }
    }
}